.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 2.5rem;
  width: 100%;
  box-sizing: border-box;
}

.border {
  background-color: aliceblue;
  // border: 0.25rem solid gray;
  border-radius: 1.5rem;
}
