.deviceWrapper {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    padding: 2rem;
    
    border-radius: 0.5rem;
    // background-color: var(--darkGrey);
    background: linear-gradient(
      to bottom right,
      var(--darkGrey),
      var(--darkerGrey)
  );
  
  width: 100%;
  max-width: fit-content;
}